{% extends 'objects/address_base.html' %}
{% block content %}
    <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
					<ul class="uk-breadcrumb">
					    <li><a href="/">Home</a></li>
					    <li><span>Objects</span></li>
					    <li class="uk-active"><span>Schedules</span></li>
					</ul>
					<h3 class="heading_a uk-margin-bottom"><i class="material-icons md-36">&#xE335;</i> Address Objects</h3>
					<div class="md-card">
						<div class="md-card-content">
							<div id="address_crud"></div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="md-fab-wrapper">
			<a id="addressAdd" class="md-fab md-fab-primary" href="#" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Address">
				<i class="material-icons">&#xE145;</i>
			</a>
		</div>
    </div>
{% endblock %}
