{% extends 'networking/base.html' %}

{% block content %}
    <div id="page_content">
        <div id="page_content_inner">
        </div> <!-- page_content_inner endofdiv -->
    </div> <!-- page_content endofdiv -->
        
<!--      Ethernet Window      -->
<div class="uk-modal" id="window_ethernet">
	<form id="form_validation" class="uk-form-stacked">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
		<div class="uk-modal-header">
			<h3 class="uk-modal-title"><i class="material-icons">device_hub</i>&nbsp;Ethernet</h3>
		</div>
		
		<ul class="uk-grid uk-grid-medium" data-uk-grid-margin>
	        <li class="uk-width-1-1">
		        <label for="window_ethernet_name">Name</label>
		        <input id="window_ethernet_name" type="text" maxlength="10" class="md-input input-count" required/>
			</li>			

	        <li class="uk-width-1-1">
		        <label for="window_ethernet_desc">Description</label>
		        <input id="window_ethernet_desc" type="text" maxlength="255" class="md-input input-count" required/>
			</li>			

	        <li class="uk-width-medium-1-4 uk-width-small-1-2">
	            <label for="window_ethernet_status">Status:</label>
	        </li>
	        <li class="uk-width-medium-1-4 uk-width-small-1-2">
	            <input id="window_ethernet_status" name="window_ethernet_status" type="checkbox" data-switchery data-switchery-size="small" class="js-switch policy-status-change"/>
            </li>

	        <li class="uk-width-medium-1-4 uk-width-small-1-2">
	            <label for="window_ethernet_dhcp">DHCP:</label>
	        </li>
	        <li class="uk-width-medium-1-4 uk-width-small-1-2">
	            <input id="window_ethernet_dhcp" name="window_ethernet_dhcp" type="checkbox" data-switchery data-switchery-size="small" class="js-switch policy-status-change"/>
            </li>
			            
	        <li class="uk-width-1-1">
		        <select id="window_ethernet_ipv4addr" placeholder="IP Address" required>
		        </select>
	        </li>

	        <li class="uk-width-1-1">
		        <select id="window_ethernet_netmask" placeholder="Netmask" required>
		        </select>
	        </li>
	        
	        <li class="uk-width-medium-4-5 uk-width-small-2-3">
		        <select id="window_ethernet_gateway" placeholder="Gateway">
		        </select>
	        </li>
			<li class="uk-width-medium-1-5 uk-width-small-1-3">
		        <span class="uk-input-group-addon">
				    <a class="md-fab md-fab-small md-fab-success" href="#" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Add as a object"><i class="material-icons">add</i></a>
				</span>
			</li>

	        <li class="uk-width-medium-4-5 uk-width-small-2-3">
		        <select id="window_ethernet_pdns" placeholder="Primary DNS" required>
		        </select>
	        </li>
			<li class="uk-width-medium-1-5 uk-width-small-1-3">
		        <span class="uk-input-group-addon">
				    <a class="md-fab md-fab-small md-fab-success" href="#" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Add as a object"><i class="material-icons">add</i></a>
				</span>
			</li>
	        
	        <li class="uk-width-medium-4-5 uk-width-small-2-3">
		        <select id="window_ethernet_sdns" placeholder="Secondary DNS" required>
		        </select>
	        </li>
			<li class="uk-width-medium-1-5 uk-width-small-1-3">
		        <span class="uk-input-group-addon">
				    <a class="md-fab md-fab-small md-fab-success" href="#" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Add as a object"><i class="material-icons">add</i></a>
				</span>
			</li>
		</ul>
		
        <div class="uk-modal-footer uk-text-right">
            <button type="submit" class="md-btn md-btn-primary">Save</button>
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancel</button>                            
        </div>
    </div>
    </form>
</div>

<!--      Virtual Window      -->
<div class="uk-modal" id="window_virtual">
	<form id="form_validation" class="uk-form-stacked">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
		<div class="uk-modal-header">
			<h3 class="uk-modal-title"><i class="material-icons">device_hub</i>&nbsp;Virtual IP Address</h3>
		</div>
		
		<ul class="uk-grid uk-grid-medium" data-uk-grid-margin>
	        <li class="uk-width-1-1">
		        <label for="window_ethernet_desc">Description</label>
		        <input id="window_virtual_desc" type="text" maxlength="255" class="md-input input-count" required/>
			</li>			
	        
	        <li class="uk-width-1-1">
		        <select id="window_virtual_ipv4addr" placeholder="IP Address" required>
		        </select>
	        </li>

	        <li class="uk-width-1-1">
		        <select id="window_virtual_netmask" placeholder="Netmask" required>
		        </select>
	        </li>
	        
		</ul>
		
        <div class="uk-modal-footer uk-text-right">
            <button type="submit" class="md-btn md-btn-primary">Save</button>
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancel</button>                            
        </div>
    </div>
    </form>
</div>

{% endblock %}
