{% extends 'networking/routing_base.html' %}
{% block content %}
<div id="page_content">
    <div id="page_content_inner">
		<!-- Routing Body -->
        <div class="uk-overflow-container">
		    <div class="uk-grid" data-uk-grid-margin>
		        <div class="uk-width-large-3-4 uk-width-medium-1-2 uk-width-small-1-1">
                	<h3 class="heading_a uk-margin-bottom">
                		<img alt="Routes" style="width:36px;height:36px;" src="/static/assets/img/md-images/routes.png">
                		<!--  <i class="material-icons md-36">&#xE428;</i> --> 
                		Routing
               		</h3>
                </div>
		        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
					<ul class="uk-breadcrumb">
					    <li><a href="/">Home</a></li>
					    <li><span>Networking</span></li>
					    <li class="uk-active"><span>Routes</span></li>
					</ul>
				</div>
				
		        <ul id="record_table" class="uk-width-1-1">
				</ul>
			</div>
		</div> <!-- uk-overflow-container endofdiv -->
		
		<input id="records_number" type="hidden" value="0">
        <div class="md-fab-wrapper">
            <a id="add_routing-rule" class="md-fab md-fab-primary" href="#" onclick='routing.add()' data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Add route">
            	<i class="material-icons">&#xE145;</i>
           	</a>
        </div>
        <!-- End of Routing Body -->		                
    </div> <!-- page_content_inner endofdiv -->
</div> <!-- page_content endofdiv -->

<!--      Routing Window      -->
<div class="uk-modal" id="window_routing">
	<form id="window_routing_form" class="uk-form-stacked" data-parsley-validate>
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
		<div class="uk-modal-header uk-text-nowrap">
			<h3 class="uk-modal-title">
				<!-- 
				<img alt="Add New Route" style="width:24px;height:24px;" src="/static/assets/img/md-images/routes.png"/>
				-->
				<i class="material-icons md-24">&#xE328;</i>
				<span id="window_routing_title" style="display:inline"></span>
			</h3>
		</div>
		<ul class="uk-grid uk-grid-medium" data-uk-grid-margin>
	        <li class="uk-width-1-1 uk-form-row">
	        	<span class="icheck-inline">
		        	<input id="window_routing_status" type="checkbox" data-md-icheck/>
		            <label for="window_routing_status" class="inline-label">Enable</label>
	            </span>
	        </li>
	        <li class="uk-width-1-1 uk-form-row">
		        <label for="window_routing_name">Name<span class="req">*</span></label>
		        <input id="window_routing_name" type="text" data-parsley-length="[3, 10]" maxlength="10" class="md-input input-count label-fixed" 
		        pattern="^[a-zA-Z][a-zA-Z0-9-_\.\s]{1,10}$" data-parsley-trigger="change" autocomplete="off" required autofocus/>
			</li>
	        <li class="uk-width-1-1 uk-form-row">
		        <input type="hidden" id="window_routing_id"/>
		        <input type="hidden" id="window_routing_row"/>

		        <label for="window_routing_desc">Description</label>
		        <input id="window_routing_desc" type="text" maxlength="255" class="md-input input-count label-fixed"/>
			</li>
	        <li class="uk-width-1-2 uk-form-row">
   	        	<label for="window_routing_ipv4addr">IP Address<span class="req">*</span></label>
		        <input id="window_routing_ipv4addr" type="text" pattern="\d{1,3}[\.]\d{1,3}[\.]\d{1,3}[\.]\d{1,3}" data-parsley-trigger="change" maxlength="15" class="md-input label-fixed" autocomplete="off" required/>	        
	        </li>

	        <li class="uk-width-1-2 uk-form-row">
				<select id="window_routing_netmask" placeholder="Netmask" required></select>
	        </li>

	        <li class="uk-width-medium-4-5 uk-width-small-2-3 uk-form-row">
   	        	<label for="window_routing_gateway">Gateway<span class="req">*</span></label>
		        <input id="window_routing_gateway" type="text" pattern="\d{1,3}[\.]\d{1,3}[\.]\d{1,3}[\.]\d{1,3}" data-parsley-trigger="change" maxlength="15" class="md-input label-fixed" autocomplete="off" required/>	        
	        </li>

			<li class="uk-width-medium-1-5 uk-width-small-1-3 uk-form-row">
		        <span class="uk-input-group-addon">
				    <a href="#" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="Add as an object">
				    	<i class="material-icons md-24">&#xE146;</i>
				    </a>
				</span>
			</li>

	        <li class="uk-width-1-2 uk-form-row">
   	        	<label for="window_routing_interface">Interface</label>
				<select id="window_routing_interface" placeholder="Interface">
				</select>
	        </li>

	        <li class="uk-width-6-10 uk-form-row">
		        <label for="window_routing_metric">Metric</label>
		        <input id="window_routing_metric" type="number" value="0" min="0" max="255" class="md-input label-fixed" data-parsley-trigger="change"/>
			</li>
	        <li class="uk-width-2-10 uk-form-row">
		        <span class="uk-form-help-block">(0-255)</span>
			</li>
		</ul>
		<div class="uk-modal-footer uk-text-right">
		    <button type="submit" class="md-btn md-btn-primary validate" id="window_routing_save">Save</button>
		    <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancel</button>                            
		</div>
	</div>
	</form>
</div>
{% endblock %}
