{% load staticfiles %}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon-32x32.png' %}" sizes="32x32">

    <!-- additional styles for plugins'; -->
    <title>{% block title %}{{ productname }} v{{ productversion }}{% endblock %}</title>
    <link href="{% static "assets/css/dashboard.min.css" %}" rel="stylesheet">

    {% block style %}{% endblock %}

	<!-- uikit -->
    <link rel="stylesheet" href="{% static 'bower_components/uikit/css/uikit.almost-flat.min.css' %}" media="all">

    <!-- main css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.min.css' %}" media="all">
 

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="{% static 'bower_components/matchMedia/matchMedia.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/matchMedia/matchMedia.addListener.js' %}"></script>
    <![endif]-->

</head>
<body class="sidebar_main_open sidebar_main_swipe">
	{% include "dashboard/header_main.html" %}
    {% with "dashboard" as mMenu %}
    {% with "dashboard_main" as sMenu %}
	    {% include "dashboard/sidebar_main.html" %}
    {% endwith %}
    {% endwith %}
	{% block content %}
	{% endblock %}
	
	<!-- google webfont functions -->
    <script src="{% static 'assets/js/webfont.js' %}"></script>

    <!-- common functions -->
    <script src="{% static 'assets/js/common.min.js' %}"></script>
    <!-- uikit functions -->
    <script src="{% static 'assets/js/uikit_custom.min.js' %}"></script>
    <!-- altair common functions/helpers -->
    <script src="{% static 'assets/js/altair_admin_common.min.js' %}"></script>
    <!-- page specific plugins -->
{% block script %}
<script src="{% static 'bower_components/Chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/custom/datatables_uikit.min.js' %}"></script>
{% if  release %}
<script src="{% static "assets/js/pages/dashboard.min.js" %}"></script>
{% else %}
<script src="{% static "assets/js/pages/dashboard.js" %}"></script>
{% endif %}
<!--[if lte IE 8]>
    <script src="{% static "bower_components/excanvas/excanvas.js" %}"></script>
<![endif]-->
<script type="text/javascript">

var mem_ctx = $("#memoryChart").get(0).getContext("2d");
        var memChart = new Chart(mem_ctx);
        function memory_usage(){
            $.getJSON('/info/memory/', function(data) {
                var options = {
                    animation : false,
                    pointDotRadius : 4,
                    scaleLabel : "<%=value%> Mb"
                }
                memChart.Line(data, options);
            });
        }

var cpu_ctx = $("#cpuuChart").get(0).getContext("2d");
        var cpuChart = new Chart(cpu_ctx);
        function cpuu_usage(){
            $.getJSON('/info/cpuusage/', function(data) {
                var options = {
                    percentageInnerCutout : 50,
                    segmentStrokeWidth : 0
                }
                cpuChart.Doughnut(data, options);
            });
        }

var trf_ctx = $("#trfChart").get(0).getContext("2d");
        var trfChart = new Chart(trf_ctx);
        function traffic_usage(){
            $.getJSON('/info/gettraffic/', function(data) {
                var options = {
                    animation : false,
                    pointDotRadius : 2,
                    scaleLabel : "<%=value%>"
                }
                trfChart.Line(data, options);
            });
        }

var dsk_ctx = $("#dskChart").get(0).getContext("2d");
        var dskChart = new Chart(dsk_ctx);
        function disk_io(){
            $.getJSON('/info/getdiskio/', function(data) {
                var options = {
                    animation : false,
                    pointDotRadius : 2,
                    scaleLabel : "<%=value%>"
                }
                dskChart.Line(data, options);
            });
        }

var load_ctx = $("#loadChart").get(0).getContext("2d");
        var loadChart = new Chart(load_ctx);
        function load_average(){
            $.getJSON('/info/loadaverage/', function(data) {
                var options = {
                    animation : false,
                    pointDotRadius : 2,
                    scaleLabel : "<%=value%>"
                }
                loadChart.Line(data, options);
            });
        }

$(function() {
            window.setInterval('dashboard.getProc()', {{ time_refresh_long }});
            window.setInterval('memory_usage()', {{ time_refresh }});
            window.setInterval('load_average()', {{ time_refresh }});
            window.setInterval('cpuu_usage()', {{ time_refresh }});
            window.setInterval('traffic_usage()', {{ time_refresh_net }});
            window.setInterval('disk_io()', {{ time_refresh_net }});
            window.setInterval('dashboard.getUptime()', {{ time_refresh_long }});
            window.setInterval('dashboard.getDisk()', {{ time_refresh_long }});
            window.setInterval('dashboard.getUsers()', {{ time_refresh_long }});
            window.setInterval('dashboard.getNetstat()', {{ time_refresh_long }});
        });

$(function pageLoad() {
    dashboard.getProc();
    memory_usage();
    load_average();
    cpuu_usage();
    traffic_usage();
    disk_io();
    dashboard.getOSname();
    dashboard.getUptime();
    dashboard.getHostname();
    dashboard.getKernel();
    dashboard.getCPUcount();
    dashboard.getCPUtype();
    dashboard.getDisk();
    dashboard.getUsers();
    dashboard.getNetstat();
    dashboard.getIps();
    });
</script>


{% endblock %}

</body>
</html>