{% extends 'dashboard/base.html' %}

{% block content %}
<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <h3 class="heading_a uk-margin-bottom"><i class="material-icons md-36">&#xE871;</i> Dashboard</h3>
            </div>
        </div>
        <div class="md-card-content">
            <div class="uk-grid uk-grid-width-medium-1-2 uk-sortable sortable-handler" data-uk-grid="{gutter:24}" data-uk-sortable>
                <div>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                General Info
                            </h3>
                            <div id="refresh-os"></div>
                        </div>
                        <div class="md-card-content">
                            <br>
                            <span class="uk-text-bold uk-text-primary">Product Name:</span> <span class="">{{ productname }}</span><br>
                            <span class="uk-text-bold uk-text-primary">Product Version:</span> <span class="">{{ productversion }}</span><br>
                            <span class="uk-text-bold uk-text-primary">Uptime:</span> <span class="" id="get-uptime"></span> Hours<br>
                            <span class="uk-text-bold uk-text-primary">Hostname:</span> <span class="" id="get-hostname"></span><br>
                            <span class="uk-text-bold uk-text-primary">CPU(s):</span> <span class="" id="get-cpucount"></span> x <span class="" id="get-cputype"></span>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                CPU Usage %
                            </h3>
                            <div id="refresh-cpu"></div>
                        </div>
                        <div class="md-card-content">
                            <p></p>
                            <canvas id="cpuuChart" width="270" height="180"></canvas>
                            <div>
                            <span class="cpuf">Free</span>
                            <span class="cpuu">Used</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                Memory Usage
                            </h3>
                            <div id="refresh-ram"></div>
                        </div>
                        <div class="md-card-content">
                            <p></p>
                            <canvas id="memoryChart" width="460" height="200"></canvas>
                            <div>
                            <span class="memf">Free</span>
                            <span class="memu">Used</span>
                            <span class="memb">Buffers</span>
                            <span class="memc">Cached</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                Internet Traffic
                            </h3>
                            <div id="refresh-ispeed"></div>
                        </div>
                        <div class="md-card-content">
                            <p></p>
                            <canvas id="trfChart" width="270" height="200"></canvas>
                            <div>
                            <span class="netin">In</span>
                            <span class="netout">Out</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            IP Adresses
                        </h3>
                        <div id="refresh-ip"></div>
                    </div>
                    <div class="md-card-content">
                        <table id="get_ips" class="uk-table uk-table-hover uk-table-condensed uk-text-nowrap"></table>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="md-card-content">
            <div class="uk-grid uk-grid-width-medium-1-2 uk-sortable sortable-handler" data-uk-grid="{gutter:24}" data-uk-sortable>
                <div>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                Load Average
                            </h3>
                            <div id="refresh-load"></div>
                        </div>
                        <div class="md-card-content">
                            <p></p>
                            <canvas id="loadChart" width="460" height="200"></canvas>
                        </div>
                        <br>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                Disk Reads/Writes
                            </h3>
                            <div id="refresh-diskio"></div>
                        </div>
                        <div class="md-card-content">
                            <p></p>
                            <canvas id="dskChart" width="460" height="200"></canvas>
                            <div>
                            <span class="diskr">Reads</span>
                            <span class="diskw">Writes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <br><br>#}
{#        <div class="uk-grid">#}
{#            <div class="uk-width-1-1">#}
{#                <div class="md-card">#}
{#                    <div class="md-card-toolbar">#}
{#                        <h3 class="md-card-toolbar-heading-text">#}
{#                            Disk Usage#}
{#                        </h3>#}
{#                        <div id="refresh-df"></div>#}
{#                    </div>#}
{#                    <div class="md-card-content">#}
{#                        <table id="get_disk" class="uk-table uk-table-hover uk-table-condensed uk-text-nowrap"></table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
{% endblock %}