    <!-- main sidebar -->
    <aside id="sidebar_main">
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="/" class="sSidebar_hide">
                    <!--<img src="assets/img/logo_main.png" alt="" height="15" width="71"/>-->
                    <h4><i>Site To Site</i> <b>VPN</b></h4>
                </a>
                <a href="/" class="sSidebar_show">
                    <!--<img src="assets/img/logo_main_small.png" alt="" height="32" width="32"/>-->
                    <h4><i>STS</i> <b>VPN</b></h4>
                </a>
            </div>
            <div class="sidebar_actions">
            </div>
        </div>

        <div class="menu_section">
            <ul>
                <li>
                    <a href="/" title="Dashboard">
                        <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                        <span class="menu_title">Dashboard</span>
                    </a>
                </li>
<!--
                <li>
                    <a href="/objects" title="Objects One">
                        <span class="menu_icon"><i class="material-icons">&#xE87B;</i></span>
                        <span class="menu_title">Objects One</span>
                    </a>
                </li>
 -->
                <li>
                    <a href="#" title="Objects">
                        <span class="menu_icon"><i class="material-icons">&#xE87B;</i></span>
                        <span class="menu_title">Objects</span>
                    </a>
                    <ul>
                        <li>
                        	<a href="/objects/address" title="Address">Address</a>
                       	</li>
                        <li>
                        	<a href="/objects/protocol" title="Protocol">Protocol</a>
                       	</li>
                        <li>
                        	<a href="/objects/schedule" title="Schedule">Schedule</a>
                       	</li>
                        <li>
                        	<a href="/objects/zone" title="Zone">Zone</a>
                       	</li>
                    </ul>
                    
                </li>                
                <li>
                    <a href="#" title="Networking">
                        <span class="menu_icon"><i class="material-icons">&#xE640;</i></span>
                        <span class="menu_title">Networking</span>
                    </a>
                    <ul>
                        <li>
                        	<a href="/networking" title="Ethernet">Ethernet</a>
                       	</li>
                        <li>
                        	<a href="/routing" title="Routing">Routing</a>
                       	</li>
                    </ul>
                    
                </li>
                <li>
                    <a href="/policies" title="Traffic Policies">
                        <span class="menu_icon"><i class="material-icons">&#xE32A;</i></span>
                        <span class="menu_title">Policies</span>
                    </a>
                </li>
                <li>
                    <a href="/vpn" title="VPN">
                        <span class="menu_icon"><i class="material-icons">&#xE0DA;</i></span>
                        <span class="menu_title">VPN</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- main sidebar end -->