    <!-- main sidebar -->
    <aside id="sidebar_main">
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="/" class="sSidebar_hide">
                    <img src="/static/assets/img/logo_main@2x.png" alt=""/>
                </a>
                <a href="/" class="sSidebar_show">
                    <img src="/static/assets/img/logo_main_small.png" alt="" height="32" width="32"/>
                </a>
            </div>
            <div class="sidebar_actions">
            </div>
        </div>

        <div class="menu_section">
            <ul>
                <li{% if mMenu == "dashboard" %} class="current_section"{% endif %}>
                    <a href="/" title="Dashboard">
                        <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                        <span class="menu_title">Dashboard</span>
                    </a>
                </li>
                <li{% if mMenu == "objects" %} class="act_section"{% endif %}>
                    <a href="#" title="Objects">
                        <span class="menu_icon"><i class="material-icons">&#xE87B;</i></span>
                        <span class="menu_title">Objects</span>
                    </a>
                    <ul>
                        <li{% if sMenu == "objects_address" %} class="act_item"{% endif %}>
                        	<a href="/objects/address" title="Address">
                                <span class="menu_icon"><i class="material-icons">&#xE335;</i></span>
                                <span class="menu_title">Address</span>
                            </a>
                       	</li>
                        <li{% if sMenu == "objects_protocol" %} class="act_item"{% endif %}>
                        	<a href="/objects/protocol" title="Protocol">
                                <span class="menu_icon"><i class="material-icons">&#xE8C0;</i></span>
                                <span class="menu_title">Protocol</span>
                            </a>
                       	</li>
                        <li{% if sMenu == "objects_schedule" %} class="act_item"{% endif %}>
                        	<a href="/objects/schedule" title="Schedule">
                                <span class="menu_icon"><i class="material-icons">&#xE8B5;</i></span>
                                <span class="menu_title">Schedule</span>
                            </a>
                       	</li>
                        <li{% if sMenu == "objects_zone" %} class="act_item"{% endif %}>
                        	<a href="/objects/zone" title="Zone">
                                <span class="menu_icon"><i class="material-icons">&#xE80B;</i></span>
                                <span class="menu_title">Zone</span>
                            </a>
                       	</li>
                    </ul>
                    
                </li>                
                <li{% if mMenu == "networking" %} class="act_section"{% endif %}>
                    <a href="#" title="Networking">
                        <span class="menu_icon"><i class="material-icons">&#xE640;</i></span>
                        <span class="menu_title">Networking</span>
                    </a>
                    <ul>
                        <li{% if sMenu == "networking_ethernet" %} class="act_item"{% endif %}>
                        	<a href="/networking/ethernet" title="Ethernet">
                                <span class="menu_icon"><i class="material-icons">&#xE8BE;</i></span>
                                <span class="menu_title">Ethernet</span>
                            </a>
                       	</li>
                        <li{% if sMenu == "networking_routing" %} class="act_item"{% endif %}>
                        	<a href="/networking/routing" title="Routing">
                                <span class="menu_icon"><i class="material-icons">&#xE328;</i></span>
                                <span class="menu_title">Routing</span>
                            </a>
                       	</li>
                    </ul>
                    
                </li>
                <li{% if mMenu == "policies" %} class="current_section"{% endif %}>
                    <a href="/policies/list" title="Traffic Policies">
                        <span class="menu_icon"><i class="material-icons">&#xE32A;</i></span>
                        <span class="menu_title">Policies</span>
                    </a>
                </li>
                <li{% if mMenu == "vpn" %} class="act_section"{% endif %}>
                    <a href="#" title="VPN">
                        <span class="menu_icon"><i class="material-icons">&#xE62F;</i></span>
                        <span class="menu_title">VPN</span>
                    </a>
                    <ul>
                        <li{% if sMenu == "vpn_profile" %} class="act_item"{% endif %}>
                        	<a href="/vpn/profile" title="Profile">
                                <span class="menu_icon"><i class="material-icons">&#xE0DA;</i></span>
                                <span class="menu_title">Profile</span>
                            </a>
                       	</li>
                        <li{% if sMenu == "vpn_tunnel" %} class="act_item"{% endif %}>
                        	<a href="/vpn/tunnel" title="Tunnel">
                                <span class="menu_icon"><i class="material-icons">&#xE62F;</i></span>
                                <span class="menu_title">Tunnel</span>
                            </a>
                       	</li>
                    </ul>

                </li>
            </ul>
        </div>
    </aside>
    <!-- main sidebar end -->