    <!-- main sidebar -->
    <aside id="sidebar_main">
        <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="/" class="sSidebar_hide">
                    <!--<img src="/static/assets/img/logo_main.png" alt="" height="15" width="71"/>-->
                    <h4><i>Site To Site</i> <b>VPN</b></h4>
                </a>
                <a href="/" class="sSidebar_show">
                    <!--<img src="/static/assets/img/logo_main_small.png" alt="" height="32" width="32"/>-->
                    <h4><i>STS</i> <b>VPN</b></h4>
                </a>
            </div>
            <div class="sidebar_actions">
            </div>
        </div>

        <div class="menu_section">
            <ul>
                <li{% if mMenu == "dashboard" %} class="current_section"{% endif %}>
                    <a href="/" title="Dashboard">
                        <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                        <span class="menu_title">Dashboard</span>
                    </a>
                </li>
<!--
                <li>
                    <a href="/objects" title="Objects One">
                        <span class="menu_icon"><i class="material-icons">&#xE87B;</i></span>
                        <span class="menu_title">Objects One</span>
                    </a>
                </li>
 -->
                <li{% if mMenu == "objects" %} class="act_section"{% endif %}>
                    <a href="#" title="Objects">
                        <span class="menu_icon"><i class="material-icons">&#xE87B;</i></span>
                        <span class="menu_title">Objects</span>
                    </a>
                    <ul>
                        <li{% if sMenu == "objects_address" %} class="act_item"{% endif %}>
                        	<a href="/objects/address" title="Address">Address</a>
                       	</li>
                        <li{% if sMenu == "objects_protocol" %} class="act_item"{% endif %}>
                        	<a href="/objects/protocol" title="Protocol">Protocol</a>
                       	</li>
                        <li{% if sMenu == "objects_schedule" %} class="act_item"{% endif %}>
                        	<a href="/objects/schedule" title="Schedule">Schedule</a>
                       	</li>
                        <li{% if sMenu == "objects_zone" %} class="act_item"{% endif %}>
                        	<a href="/objects/zone" title="Zone">Zone</a>
                       	</li>
                    </ul>
                    
                </li>                
                <li{% if mMenu == "networking" %} class="act_section"{% endif %}>
                    <a href="#" title="Networking">
                        <span class="menu_icon"><i class="material-icons">&#xE640;</i></span>
                        <span class="menu_title">Networking</span>
                    </a>
                    <ul>
                        <li{% if sMenu == "networking_ethernet" %} class="act_item"{% endif %}>
                        	<a href="/networking" title="Ethernet">Ethernet</a>
                       	</li>
                        <li{% if sMenu == "networking_routing" %} class="act_item"{% endif %}>
                        	<a href="/routing" title="Routing">Routing</a>
                       	</li>
                    </ul>
                    
                </li>
{#                <li{% if mMenu == "policies" %} class="current_section"{% endif %}>#}
{#                    <a href="/policies" title="Traffic Policies">#}
{#                        <span class="menu_icon"><i class="material-icons">&#xE32A;</i></span>#}
{#                        <span class="menu_title">Policies</span>#}
{#                    </a>#}
{#                </li>#}
                <li{% if mMenu == "vpn" %} class="act_section"{% endif %}>
                    <a href="#" title="VPN">
                        <span class="menu_icon"><i class="material-icons">&#xE0DA;</i></span>
                        <span class="menu_title">VPN</span>
                    </a>
                    <ul>
                        <li{% if sMenu == "vpn_profile" %} class="act_item"{% endif %}>
                        	<a href="/vpn/profile" title="Profile">Profile</a>
                       	</li>
                        <li{% if sMenu == "vpn_tunnel" %} class="act_item"{% endif %}>
                        	<a href="/vpn/tunnel" title="Tunnel">Tunnel</a>
                       	</li>
                    </ul>

                </li>
            </ul>
        </div>
    </aside>
    <!-- main sidebar end -->